name: '同联考勤记录获取'

on:
  push:
    branches: 
      - master
  #schedule:
    #- cron: '0/3 5 * * *'
      
jobs:
  tonglian_sign:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout codes'
      uses: actions/checkout@v2
    - name: '设置python版本'
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'
    - name: '开始拉取包'
      run: python -m pip install --upgrade requests
    - name: '开始签到'
      env:
        TONGLIAN_HOST: ${{ secrets.TONGLIAN_HOST }}
      run: python main.py
